.hero_container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_wrapper {
  width: min(800px, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_content {
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero_content h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
}
.hero_content p {
  color: rgb(215, 215, 215);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.hero_btn_con {
  display: flex;
  gap: 20px;
}
.btn:nth-child(1) {
  color: white;
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 20px;
  font-family: "Poppins";
  cursor: pointer;
  transition: 0.3s;
}
.btn:nth-child(1):hover {
  background-color: #0077d9;
}
.btn:nth-child(2) {
    color: white;
    background-color: var(--btn);
    border: none;
    outline: none;
    padding: 14px 24px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Poppins";
    cursor: pointer;
    transition: 0.3s;
}
.btn:nth-child(2):hover {
  background-color: #333d40;
}
