.modal {
  background-color: #fff;
  border-radius: 10px;
  width: 275px;
  min-height: 200px;
  position: absolute;
  top: 0;
  right: 100px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: move;
}

.modalHeader h2 {
  font-size: 1.2rem;
}

.closeButton {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: transparent;
}

.modalContent {
  padding: 10px;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.find {
  border: none;
  background-color: royalblue;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  display: block;
  margin-top: auto;
}

.input {
  width: 100%;
  border: 1px solid #000;
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
  height: 40px;
}

.input label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 0.8rem;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
  transition: all 0.3s ease;
}

.input input {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.input input:focus + label,
.input input:valid + label {
  top: 0;
  transform: translateY(-50%);
}

.loaderContainer {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.time {
  font-size: 1.5rem;
  margin-top: 25px;
  text-align: center;
  color: #333;
}

.timeDiff {
  font-size: 1.2rem;
}

.picker {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 15px;
}

.data {
  font-size: 1rem;
}

.data span {
  font-weight: bold;
}
